TITLE=terminal.cactuz.icu
PORT=3001
BASE=/
SSHAUTH=publickey
SSHKEY=/run/terminal-ssh/id_ed25519
KNOWNHOSTS=/run/terminal-ssh/known_hosts

TERMINAL_RASPIK4B_HOST=192.168.100.105
TERMINAL_RASPIK4B_PORT=22
TERMINAL_RASPIK4B_USER=raspik4b

TERMINAL_RASPIK_HOST=192.168.100.51
TERMINAL_RASPIK_PORT=22
TERMINAL_RASPIK_USER=vaniok56
TUNNEL_TOKEN=
